.modal-header-success {
     color: #fff;
     padding: 9px 15px;
     border-bottom: 1px solid #eee;
     background-color: #5cb85c;
     -webkit-border-top-left-radius: 5px;
     -webkit-border-top-right-radius: 5px;
     -moz-border-radius-topleft: 5px;
     -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-warning {
     color: #fff;
     padding: 9px 15px;
     border-bottom: 1px solid #eee;
     background-color: orange;
     -webkit-border-top-left-radius: 5px;
     -webkit-border-top-right-radius: 5px;
     -moz-border-radius-topleft: 5px;
     -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-content{
     width: 190%;
     position: absolute;
     margin-left: -43%;
     /**background-color : rgba(59, 97, 110, 0.5);*/
     /*background-image: linear-gradient(to right, #7a97b0, #74aab8, #7dbcb5, #9acaab, #c4d4a3);*/
     border: 1px solid #09548a;
}

tr{
     /*background-image: linear-gradient(to right, #7a97b0, #74aab8, #7dbcb5, #9acaab, #c4d4a3);*/
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fa-user-circle-o{
  color: gray;
}


.ic{
     color: #09548a
}
.form-control{
     
      font-size: 12px !important;
    
     background-color: white;
     
}

.input-group{
border: 1px solid #094b85;
}

.logo{
     margin-top: -20px
}

.modal-header-primary {
     color: #fff;
     padding: 9px 15px;
     border-bottom: 1px solid #eee;
   background-image: linear-gradient(to right, #094b85, #007399, #1a989a, #78b898, #c4d4a3);
   height: 60px;
     -webkit-border-top-left-radius: 5px;
     -webkit-border-top-right-radius: 5px;
     -moz-border-radius-topleft: 5px;
     -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.pay{
    background-image: linear-gradient(to right, #094b85, #007399, #1a989a, #78b898, #c4d4a3);
     border-radius: 25px;
     color: white;
}
.pull-left{
   border-radius: 25px;   
   background-image: linear-gradient(to right top, #850915, #a50031, #c30054, #db007e, #eb12af);
}
body {
     font-family: 'Lato', sans-serif;
     background: #f7f7f4;
}

#pay {
     display: none;
}

.text-center {
     text-align: center;
     margin: 1.25rem 0;
     border-bottom: 1px solid #dadada;
     padding: 1.25rem 0;
}

.radio label input {
     font-size: 100%;
}

.radio-choices {
     font-size: 18px;
}

input[type='radio'] {
     width: auto;
     height: 1.4em;
}

.radio-choices .radio:nth-of-type(even) {
     background: #effafa;
}

.radio-choices .radio-left {
     margin-right: 0;
     padding-right: 0;
}

.radio-choices .radio-right {
     margin-left: 0;
     padding-left: 0;
}

.label {
     color: #09548a;
     font-weight: bold;
     font-size: 12px;
}

.total{
     color:#09548a;
     font-weight: bold;
     font-size: 16px;
}

.payments-infos {
     display: none
}

.purchase {
     display: none
}

.lds-roller {
     display: inline-block;
     position: relative;
     width: 64px;
     height: 64px;
     margin-left: 40%
}

.lds-roller div {
     animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
     transform-origin: 32px 32px;

}

th{
     font-size: 14px;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold; 
}

thead{
     background-color: #C4D4A3;
}
.input-group-text{
     background-color: white;
     border: none;
}


.valider {
     display: none;
     margin-left: 40%;
}

.lds-roller div:after {
     content: " ";
     display: block;
     position: absolute;
     width: 6px;
     height: 6px;
     border-radius: 50%;
     background: #09548a;
     margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
     animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
     top: 50px;
     left: 50px;
}

.lds-roller div:nth-child(2) {
     animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
     top: 54px;
     left: 45px;
}

.lds-roller div:nth-child(3) {
     animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
     top: 57px;
     left: 39px;
}

.lds-roller div:nth-child(4) {
     animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
     top: 58px;
     left: 32px;
}

.lds-roller div:nth-child(5) {
     animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
     top: 57px;
     left: 25px;
}

.lds-roller div:nth-child(6) {
     animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
     top: 54px;
     left: 19px;
}

.lds-roller div:nth-child(7) {
     animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
     top: 50px;
     left: 14px;
}

.lds-roller div:nth-child(8) {
     animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
     top: 45px;
     left: 10px;
}

@keyframes lds-roller {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}


/* media queries specific to alignment of forms
   not using form-group Bootstrap to save space
   so we compensate - some phones looked odd so
   check before deployment
 */
@media screen and (max-width: 540px) {
     .radio {
          margin-left: 1rem;
          font-size: 1.25rem;
     }

     .radio-choices .radio-left {
          float: left;
          margin-left: -10px;
          padding-left: 0;
     }

     .radio-choices .radio-right {
          float: right;
          margin-right: -10px;
          padding-right: 0;
     }
}